body{
    margin:0;
}
button{
    margin-top: 100px;
    margin-left: 30px;
    animation: fadeIn 7s;
    background-color:#F2A900 ;
    border-radius: 7px;
    width: 200px;
    height:100px;
    font-family:buttons;
    font-size: 40px;
    box-shadow: 0px 0px 7px 2px ;
}

button:hover{
    background-color: black;
    color: #F2A900;
}

.banner{
    background-image: url("used/poss2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 300px;
    height: 300px;
}

.nav-bar{
    margin-left:300px;
    display:flex
}

.nav-bar div{
    border: black solid;
    width:200px;
    height: 100px;
    background: yellow;
}
